:root[data-dark="true"] {
  --text: var(--dark-text);
  --background: var(--dark-background);
  --primary: var(--dark-primary);
  --link: var(--dark-link);
  --visited: var(--dark-visited);
}

:root[data-dark="false"] {
  --text: var(--light-text);
  --background: var(--light-background);
  --primary: var(--light-primary);
  --link: var(--light-link);
  --visited: var(--light-visited);
}

* {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

html {
  scroll-padding-top: 2rem;
}

html,
body {
  height: 100%;
}

body {
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-family: var(--font);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  margin: 0;

  color: var(--text);
  background-color: var(--background);

  display: grid;
  grid:
    "header	header	header" auto
    "aside	main		blank" 1fr
    "footer	footer	footer" auto
    / 1fr 75ch 1fr;
}
@media screen and (width <= 115ch) {
  body {
    grid:
      "header	header" auto
      "aside	main	" 1fr
      "footer	footer" auto
      / 1fr 75ch;
  }
}
@media screen and (width <= 95ch) {
  body {
    grid:
      "header" auto
      "main" 1fr
      "footer" auto
      / 1fr;
  }
  aside {
    display: none;
  }
}

header {
  grid-area: header;
  /* background-color: #db4d3f; */
  background-color: var(--primary);
  color: var(--background);
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;

  align-self: start; /* https://defensivecss.dev/tip/position-sticky-grid/ */
  position: sticky;
  top: 1rem;

  a,
  a:visited {
    color: var(--link);
  }
}
footer {
  grid-area: footer;

  color: var(--background);
  background-color: var(--primary);

  padding: 1rem;
}

a {
  color: var(--link);
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  color: var(--visited);
}
a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.125em;
}

/*
  Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

header,
main,
aside,
footer {
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 0.95;
  overflow-wrap: break-word;
}
hgroup p,
hgroup h1,
hgroup h2,
hgroup h3,
hgroup h4,
hgroup h5,
hgroup h6 {
  margin: 0;
}
hgroup {
  padding: 1rem;
}

summary {
  cursor: pointer;
}
summary:not(:empty)::-webkit-details-marker,
summary:not(:empty)::marker {
  display: none;
  content: "";
}
details summary *:first-child::before {
  content: "▶";
  font-size: 0.7em;
  margin-right: 0.6em;
}
details[open] summary *:first-child::before {
  content: "▼";
}

image,
figure,
object {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

button {
  background-color: var(--primary);
  border: 1px solid var(--background);
  text-transform: capitalize;
  border-radius: 0.25em;
  color: var(--background);
  display: inline-block;
  padding: 0.75rem;
  cursor: pointer;
}

/* fuck apple and their pretentious bullshit */
/* "we don't allow it to guarantee contrast" We're not all as dumb as you are, corporate cock suckers. */
/* `accent-color` has been in other browser for 40 major updates. */
/* https://uiverse.io/cssbuttons-io/short-shrimp-54 */
/* https://sentry.io/answers/how-to-style-a-checkbox-using-css/ */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.125rem solid var(--primary);
  padding: 0.125rem;
  border-radius: 0.25rem;
}
input[type="checkbox"]:checked {
  background-color: var(--primary);
}
input[type="checkbox"]::before {
  content: "";
  width: 1rem;
  height: 1rem;
  /* clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%); */
  clip-path: polygon(36% 77%, 85% 0, 100% 11%, 37% 100%, 0% 75%, 10% 61%);
  transform: scale(0);
  background-color: var(--text);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
input[type="checkbox"]:hover {
  color: black;
}
